.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #E3DED3;
}
.top{
  /* A L C H E M Y */
  position: absolute;
  width: 94px;
  height: 15px;
  left: 51px;
  top: 21px;
  margin-top: -10px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  color: white;
  mix-blend-mode: normal;
}
.bottom{
  /* A L C H E M Y */
  position: absolute;
  width: 94px;
  height: 15px;
  left: 51px;
  top: 56px;
  margin-top: -25px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  color: white;
  mix-blend-mode: normal;
  opacity: 0.3;
  backdrop-filter: blur(2px);
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.title-top {
  /* A L C H E M Y */
  position: absolute;
  height: 123px;
  left: 50%;
  top: 334px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 200;
  font-size: 105px;
  line-height: 123px;
  color: #76593F;
  mix-blend-mode: normal;
}
.title-bottom {
  /* A L C H E M Y */
  position: absolute;
  height: 123px;
  left: 50%;
  top: 533px;
  margin-top: -30px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 200;
  font-size: 105px;
  line-height: 123px;
  color: #76593F;
  mix-blend-mode: normal;
  opacity: 0.2;
  filter: blur(2.5px);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.slogan{
height: 35px;
left: 337px;
top: 311px;
margin-left: 60%;
margin-top: 19%;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 200;
font-size: 40px;
line-height: 35px;

color: brown;


}


/* item_css */

.itemlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.itemlist > .itemlist {
  width: 300px;
  margin: 16px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.item-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 16px;
}

.item-name {
  font-size: 18px;
  margin-bottom: 8px;
}

.item-price,
.item-size,
.item-description {
  font-size: 16px;
  margin-bottom: 8px;
  white-space: pre-wrap;
}


/* signup_css */


.signupFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.signupForm h1 {
  margin-bottom: 20px;
}

.signupForm label {
  margin-bottom: 10px;
}

.signupInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signupButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signupButton:hover {
  background-color: #0056b3;
}
